html {
  font-family: Helvetica;
  text-align: center;
  font-size: 14px;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: White;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: Black;
}

h3 {
  font-size: 23px;
  font-weight: bold;
  color: Black;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bkimg {
  background-image: url("../resources/the-flatiron-building.png");
  background-position: 10% 50%;
}

#subheading {
  color: White;
}

.header a {
  font-size: 18px;
  color: White;
}
